.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

.marker {
  background-image: url('../../../../assets/img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
}

.marker.start {
  background-image: url('../../../../assets/img/pin-start.png');
}

.logo {
  padding-top: 1rem;
  text-align: center;
}

.logo img{
  width: 90%;
}

.mgl-popup {
  max-width: 25rem;
  background: white;
  padding: 0 3rem;
}

.info-container, .popup-content-description  {
  padding: 1rem;
}

.popup-title,
.popup-title-start,
.popup-content-description span {
  font-family: 'Lato', sans-serif;
}

.popup-title,
.popup-title-start {
  padding: 1.5rem 0;
  font-size: 1.4rem;
}

.popup-title {
  text-align: center;

}

.popup-content-description span{
  font-style: italic;
  display: block;
}

mgl-map {
  height: 100%;
  width: 100%;
}
