<main>
  <div>
    <article>
      <img src="assets/img/logo-green.png" alt="logo">
    </article>
    <h1 class="heading-primary"><span>404...</span></h1>
    <h1 class="heading-primary"><span>Oooops! You weren't</span></h1>
    <h1 class="heading-primary"><span>supposed to see this...</span></h1>
    <article>
      <p>The page you're looking for no longer exists... or quite frankly probably it never did.</p>
      <p>
        Why don't you return back to safety and check our awesome <a routerLink="/tours">Tours</a>...
        or even better - our <a routerLink="/tours/top-5">Top 5 Tours</a>!
      </p>
      <p>...and hey, pretend you haven't seen anything, okay?</p>
      <img class="smiley" src="assets/img/smiley.png" alt="smiley">
    </article>
  </div>
</main>
