<main>
  <app-alert *ngIf="error" [message]="error" alertType="error" (onClose)="onAlertClose()"></app-alert>
  <div class="login-form">
    <h2 class="heading-secondary ma-bt-lg">Create your account</h2>
    <div *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
    <form *ngIf="!loading" class="form form--login" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form__group">
        <label class="form__label" for="email">Your name</label>
        <input
          class="form__input"
          id="name"
          type="text"
          placeholder="John Doe"
          formControlName="name"
        />
        <p
          *ngIf="registerForm.controls.name.errors?.minlength && registerForm.controls.name.touched"
          class="error-notification">
          Name is required. Minimum 2 characters long
        </p>
      </div>
      <div class="form__group">
        <label class="form__label" for="email">Email address</label>
        <input
          class="form__input"
          id="email"
          type="email"
          placeholder="you@example.com"
          formControlName="email"
        />
        <p
          *ngIf="registerForm.controls.email.errors?.email && registerForm.controls.email.touched"
          class="error-notification">
          Please provide a valid email
        </p>
      </div>
      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Password</label>
        <input
          class="form__input"
          id="password"
          type="password"
          placeholder="••••••••"
          formControlName="password"
        />
        <p
          *ngIf="registerForm.controls.password.errors?.minlength && registerForm.controls.password.touched"
          class="error-notification">
          Password must be at least 8 characters long
        </p>
      </div>
      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Confirm Password</label>
        <input
          class="form__input"
          [ngClass]="{'pass-not-match': registerForm.controls.password.value !==
           registerForm.controls.passwordConfirm.value
           && registerForm.controls.passwordConfirm.touched}"
          id="passwordConfirm"
          type="password"
          placeholder="••••••••"
          formControlName="passwordConfirm"
        />
        <p
          *ngIf="registerForm.controls.password.value !==
           registerForm.controls.passwordConfirm.value
           && registerForm.controls.passwordConfirm.touched"
          class="error-notification">
          Passwords don't match
        </p>
      </div>
      <div class="form__group">
        <button
          type="submit"
          class="btn btn--green"
          [disabled]="!registerForm.valid"
        >
          Sign up
        </button>
      </div>
    </form>
  </div>
  <div class="small-print">
    <p>Already have an account? You can log in here ➜ <a routerLink="/auth/login">Login</a></p>
  </div>
</main>

