<div class="card__details">
    <h4 class="card__sub-heading">Easy 5-day tour</h4>
    <p class="card__text">Breathtaking hike through the Canadian Banff National Park</p>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="/assets/img/icons.svg#icon-map-pin"></use>
        </svg>
        <span>Banff, Canada</span>
    </div>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="/assets/img/icons.svg#icon-calendar"></use>
        </svg>
        <span>April 2021</span>
    </div>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="/assets/img/icons.svg#icon-flag"></use>
        </svg>
        <span>3 stops</span>
    </div>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="/assets/img/icons.svg#icon-user"></use>
        </svg>
        <span>25 people</span>
    </div>
</div>
