<div class="card__details">
    <h4 class="card__sub-heading">{{ difficulty }} {{ duration }}-day tour</h4>
    <p class="card__text">{{ summary }}</p>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="assets/img/icons.svg#icon-map-pin"></use>
        </svg>
        <span>{{ startLocation }}</span>
    </div>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="assets/img/icons.svg#icon-calendar"></use>
        </svg>
        <span>{{ startDate | date }}</span>
    </div>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="assets/img/icons.svg#icon-flag"></use>
        </svg>
        <span>{{ numberOfStops }} stops</span>
    </div>
    <div class="card__data">
        <svg class="card__icon">
            <use xlink:href="assets/img/icons.svg#icon-user"></use>
        </svg>
        <span>{{ maxGroupSize }} people</span>
    </div>
</div>
