<div *ngIf="loading" class="spinner-container">
  <app-spinner></app-spinner>
</div>

<ng-container *ngIf="tour">
  <app-tour-details-header
    [tourImagesUrl]="tourImagesUrl"
    [imageCover]="tour.imageCover"
    [name]="tour.name"
    [duration]="tour.duration"
    [location]="tour.startLocation.description">
  </app-tour-details-header>

  <app-tour-details-description
    [name]="tour.name"
    [startDate]="tour.startDates[0]"
    [ratingsAverage]="tour.ratingsAverage"
    [maxGroupSize]="tour.maxGroupSize"
    [difficulty]="tour.difficulty"
    [description]="tour.description"
    [guides]="tour.guides">
  </app-tour-details-description>

  <app-tour-details-pictures
    [tourImagesUrl]="tourImagesUrl"
    [name]="tour.name"
    [images]="tour.images">
  </app-tour-details-pictures>

  <app-tour-details-map></app-tour-details-map>

  <app-tour-details-reviews
    [reviews]="tour.reviews">
  </app-tour-details-reviews>

  <app-tour-details-cta></app-tour-details-cta>
</ng-container>
