.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c9c9c9;
}

.image img {
  max-height: 70px;
  max-width: 110px;
  border-radius: 12px;
}

.card__icon {
  height: 2rem;
  width: 2rem;
  fill: #55c57a;
}

.date svg, .location svg {
  margin-right: 5px;
}

.date span, .location span {
  font-size: 1.3rem;
}

.date, .location {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name h3, .price p {
  font-size: 1.7rem;
}

.name h3 {
  max-width: 25rem;
}
