<div class="user-view__content">

  <ng-container *ngIf="loading">
    <div class="overlay"></div>
    <app-spinner class="spinner"></app-spinner>
  </ng-container>

  <div class="user-view__form-container">

    <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
    <form class="form form-user-data" [formGroup]="infoUpdateForm" (ngSubmit)="onUserInfoUpdate()">
      <div class="form__group">
        <label class="form__label" for="name">Name</label>
        <input
          class="form__input"
          id="name"
          type="text"
          formControlName="name"
        />
      </div>
      <div class="form__group ma-bt-md">
        <label class="form__label" for="email">Email address</label>
        <input
          class="form__input"
          id="email"
          type="email"
          formControlName="email"
        />
      </div>
      <div class="form__group form__photo-upload">
        <img class="form__user-photo" [src]="[userImagesUrl + user?.photo || 'default.jpg']" alt="User photo"/>
        <label class="btn-text upload-container">
          <input type="file" class="file-input" (change)="onImageChange($event)" name="photo">
          Choose new photo
        </label>
      </div>
      <div class="form__group right">
        <button
          class="btn btn--small btn--green"
          [disabled]="!infoUpdateForm.valid">
          Save settings
        </button>
      </div>
    </form>
  </div>

  <div class="line">&nbsp;</div>

  <div class="user-view__form-container">
    <h2 class="heading-secondary ma-bt-md">Password change</h2>
    <form class="form form-user-settings" [formGroup]="passwordUpdateForm" (ngSubmit)="onPasswordUpdate()">
      <div class="form__group">
        <label class="form__label" for="password-current">Current password</label>
        <input
          class="form__input"
          id="password-current"
          type="password"
          placeholder="••••••••"
          formControlName="currentPassword"
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="password">New password</label>
        <input
          class="form__input"
          id="password"
          type="password"
          placeholder="••••••••"
          formControlName="newPassword"
        />
        <p
          *ngIf="passwordUpdateForm.controls.newPassword.errors?.minlength &&
           passwordUpdateForm.controls.newPassword.touched"
          class="error-notification">
          Password must be at least 8 characters long
        </p>
      </div>
      <div class="form__group ma-bt-lg">
        <label class="form__label" for="password-confirm">Confirm password</label>
        <input
          class="form__input"
          [ngClass]="{'pass-not-match': passwordUpdateForm.controls.newPassword.value !==
           passwordUpdateForm.controls.passwordConfirm.value &&
           passwordUpdateForm.controls.passwordConfirm.touched}"
          id="password-confirm"
          type="password"
          placeholder="••••••••"
          formControlName="passwordConfirm"
        />
        <p
          *ngIf="passwordUpdateForm.controls.newPassword.value !==
           passwordUpdateForm.controls.passwordConfirm.value
           && passwordUpdateForm.controls.passwordConfirm.touched"
          class="error-notification">
          Passwords don't match
        </p>
      </div>
      <div class="form__group right">
        <button
          class="btn btn--small btn--green"
          type="submit"
          [disabled]="!passwordUpdateForm.valid">
          Save password
        </button>
      </div>
    </form>
  </div>
</div>
