<section class="section-reviews">
  <div class="reviews">
    <div class="reviews__card" *ngFor="let review of reviews">
      <div class="reviews__avatar"><img class="reviews__avatar-img" [src]="[userImagesUrl + review.user.photo]" alt="Jim Brown"/>
        <h6 class="reviews__user">{{ review.user.name }}</h6>
      </div>
      <p class="reviews__text">{{ review.review }}</p>
      <div class="reviews__rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <svg
            class="reviews__star"
            [ngClass]="{'reviews__star--active': review.rating >= star, 'reviews__star--inactive': review.rating < star}"
          >
            <use xlink:href="assets/img/icons.svg#icon-star"></use>
          </svg>
        </ng-container>
      </div>
    </div>
    <div *ngIf="!reviews || reviews.length === 0">
      <h1 class="heading-primary"><span>There are no reviews for this tour yet...</span></h1>
    </div>
  </div>
</section>
