<section class="section-header">
  <div class="header__hero">
    <div class="header__hero-overlay">&nbsp;</div>
    <img class="header__hero-img" [src]="[tourImagesUrl + imageCover!]" [alt]="name"/>
  </div>
  <div class="heading-box">
    <h1 class="heading-primary"><span>{{ name }}</span></h1>
    <div class="heading-box__group">
      <div class="heading-box__detail">
        <svg class="heading-box__icon">
          <use xlink:href="/assets/img/icons.svg#icon-clock"></use>
        </svg>
          <span class="heading-box__text">{{ duration }} days</span>
      </div>
      <div class="heading-box__detail">
        <svg class="heading-box__icon">
          <use xlink:href="/assets/img/icons.svg#icon-map-pin"></use>
        </svg>
          <span class="heading-box__text">{{ location }}</span>
      </div>
    </div>
  </div>
</section>
