<section class="section-header">
  <div class="header__hero">
    <div class="header__hero-overlay">&nbsp;</div>
    <img class="header__hero-img" src="/assets/img/tour-1-cover.jpg" alt="Tour 1"/>
  </div>
  <div class="heading-box">
    <h1 class="heading-primary"><span>The Park Camper Tour</span></h1>
    <div class="heading-box__group">
      <div class="heading-box__detail">
        <svg class="heading-box__icon">
          <use xlink:href="/assets/img/icons.svg#icon-clock"></use>
        </svg>
          <span class="heading-box__text">10 days</span>
      </div>
      <div class="heading-box__detail">
        <svg class="heading-box__icon">
          <use xlink:href="/assets/img/icons.svg#icon-map-pin"></use>
        </svg>
          <span class="heading-box__text">Las Vegas, USA</span>
      </div>
    </div>
  </div>
</section>
