<nav>
  <ul class="side-nav">

    <app-side-nav-item
      url="/my-profile"
      svgSuffix="icon-settings"
      textContent="Settings">
    </app-side-nav-item>

    <app-side-nav-item
      url="bookings"
      svgSuffix="icon-briefcase"
      textContent="My bookings">
    </app-side-nav-item>

    <app-side-nav-item
      url="reviews"
      svgSuffix="icon-star"
      textContent="My reviews">
    </app-side-nav-item>

    <app-side-nav-item
      url="billing"
      svgSuffix="icon-credit-card"
      textContent="Billing">
    </app-side-nav-item>

  </ul>

  <div *ngIf="user && user.role === 'admin'" class="admin-nav">
    <h5 class="admin-nav__heading">Admin</h5>
    <ul class="side-nav">

      <app-side-nav-item
        url="/manage-tours"
        svgSuffix="icon-map"
        textContent="Manage tours">
      </app-side-nav-item>

      <app-side-nav-item
        url="/manage-users"
        svgSuffix="icon-users"
        textContent="Manage users">
      </app-side-nav-item>

      <app-side-nav-item
        url="/manage-reviews"
        svgSuffix="icon-star"
        textContent="Manage reviews">
      </app-side-nav-item>

      <app-side-nav-item
        url="/manage-bookings"
        svgSuffix="icon-briefcase"
        textContent="Manage bookings">
      </app-side-nav-item>

    </ul>
  </div>

</nav>
