<section class="section-reviews">
  <div class="reviews">
    <div class="reviews__card">
      <div class="reviews__avatar"><img class="reviews__avatar-img" src="/assets/img/default.jpg" alt="Jim Brown"/>
        <h6 class="reviews__user">Jim Brown</h6>
      </div>
      <p class="reviews__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dignissimos sint quo
                               commodi corrupti accusantium veniam saepe numquam.</p>
      <div class="reviews__rating">
        <svg class="reviews__star reviews__star--active">
          <use xlink:href="/assets/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="reviews__star reviews__star--active">
          <use xlink:href="/assets/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="reviews__star reviews__star--active">
          <use xlink:href="/assets/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="reviews__star reviews__star--active">
          <use xlink:href="/assets/img/icons.svg#icon-star"></use>
        </svg>
        <svg class="reviews__star reviews__star--active">
          <use xlink:href="/assets/img/icons.svg#icon-star"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
