<section class="section-pictures">
  <div class="picture-box">
    <img class="picture-box__img picture-box__img--1" src="assets/img/tour-1-cover.jpg" alt="The Park Camper Tour 1"/>
  </div>
  <div class="picture-box">
    <img class="picture-box__img picture-box__img--2" src="assets/img/tour-1-cover.jpg" alt="The Park Camper Tour 1"/>
  </div>
  <div class="picture-box">
    <img class="picture-box__img picture-box__img--3" src="assets/img/tour-1-cover.jpg" alt="The Park Camper Tour 1"/>
  </div>
</section>
