<section class="section-description">
  <div class="overview-box">
    <div>
      <div class="overview-box__group">
        <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
        <div class="overview-box__detail">
          <svg class="overview-box__icon">
            <use xlink:href="/assets/img/icons.svg#icon-calendar"></use>
          </svg>
          <span class="overview-box__label">Next date</span>
          <span class="overview-box__text">{{ startDate | date }}</span>
        </div>
        <div class="overview-box__detail">
          <svg class="overview-box__icon">
            <use xlink:href="/assets/img/icons.svg#icon-trending-up"></use>
          </svg>
          <span class="overview-box__label">Difficulty</span>
          <span class="overview-box__text">{{ difficulty }}</span>
        </div>
        <div class="overview-box__detail">
          <svg class="overview-box__icon">
            <use xlink:href="/assets/img/icons.svg#icon-user"></use>
          </svg>
          <span class="overview-box__label">Participants</span>
          <span class="overview-box__text">{{ maxGroupSize }} people</span>
        </div>
        <div class="overview-box__detail">
          <svg class="overview-box__icon">
            <use xlink:href="/assets/img/icons.svg#icon-star"></use>
          </svg>
          <span class="overview-box__label">Rating</span>
          <span class="overview-box__text">{{ ratingsAverage }} / 5</span>
        </div>
      </div>
      <div class="overview-box__group">
        <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2>
        <div class="overview-box__detail" *ngFor="let guide of guides">
          <img class="overview-box__img" src="/src/assets/img/default.jpg" [alt]="guide.role"/>
          <span class="overview-box__label">{{ guide.role }}</span>
          <span class="overview-box__text">{{ guide.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="description-box">
    <h2 class="heading-secondary ma-bt-lg">About the {{ name }} tour</h2>
    <ng-container *ngFor="let paragraph of description!.split('\n')">
      <p class="description__text">{{ paragraph }}</p>
    </ng-container>
  </div>
</section>
