<footer class="footer">
  <div class="footer__logo">
    <img src="/assets/img/logo-green.png" alt="Natours logo"/>
  </div>
  <ul class="footer__nav">
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Download Apps</a>
    </li>
    <li>
      <a href="#">Become a Guide</a>
    </li>
    <li>
      <a href="#">Careers</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
  <p class="footer__copyright">&copy; by <a href="https://github.com/metodievmartin">Martin Wigans</a>. All rights reserved.</p>
</footer>
