.card-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 34rem);
  grid-gap: 7rem;
  justify-content: center;
}
.spinner-container {
  min-height: 60vh;
}
