.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  max-width: 120rem;
  margin: 2rem auto 0 auto;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.17);
}

.info {
  background: white;
  padding: 1rem 50rem 1rem 1rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  clip-path: polygon(0 0, 100% 0%, 45% 100%, 0% 100%);
}

.banner h1, .banner p {
  padding-left: 2rem;
  padding-right: 1rem;
  text-transform: uppercase;
}
.banner h1 {
  font-size: 2.4rem;
}
.banner p {
  font-size: 1.3rem;
}
.logo {
  padding: 1rem 2rem;
}
.logo img {
  max-height: 80px;
  max-width: 100px;
}
