<section class="container">
  <article class="details">
    <div class="rating">
      <svg class="card__icon">
        <use xlink:href="assets/img/icons.svg#icon-map"></use>
      </svg>
      <span>{{ review.tour.name }} Tour</span>
    </div>
    <div class="rating">
      <svg class="card__icon">
        <use xlink:href="assets/img/icons.svg#icon-star"></use>
      </svg>
      <span>Rating: {{ review.rating }}/5</span>
    </div>
    <div class="date">
      <svg class="card__icon">
        <use xlink:href="assets/img/icons.svg#icon-calendar"></use>
      </svg>
      <span>{{ review.createdAt | date:'medium' }}</span>
    </div>
  </article>

  <article class="content">
    <p>{{ review.review }}</p>
  </article>

  <article class="btn-container">
    <app-themed-link-btn
      [path]="'/tours/' + review.tour.slug"
      text="View Tour"
    ></app-themed-link-btn>
  </article>
</section>
