<section class="section-pictures">
  <div class="picture-box">
    <img
      class="picture-box__img picture-box__img--1"
      [src]="[tourImagesUrl + images![0]]"
      [alt]="name"
    />
  </div>
  <div class="picture-box">
    <img
      class="picture-box__img picture-box__img--2"
      [src]="[tourImagesUrl + images![1]]"
      [alt]="name"
    />
  </div>
  <div class="picture-box">
    <img
      class="picture-box__img picture-box__img--3"
      [src]="[tourImagesUrl + images![2]]"
      [alt]="name"
    />
  </div>
</section>
